* {
  font-family: Kanit, sans-serif;
}

.h-100 {
  min-height: 90vh;
  height: 100%;
}

.h-50 {
  min-height: 50vh;
  height: 100%;
}

.header-text {
  font-family: Anton, sans-serif;
}

.hand {
  opacity: 0.3;
  text-align: end;
}

.w-60 {
  width: 60%;
}

.w-10 {
  width: 10%;
}

.header-text::after {
  content: "";
  animation: spin 10s linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    opacity: 0;
    content: "LET'S FIND FUR-EVER HOME!";
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    content: "WHERE THEY CAN LIVE HAPPILY EVER AFTER";
  }
}

.image-container-allanimal {
  width: 100%;
  height: 30vh;
}

.detail-image-container {
  width: 100%;
  height: 50vh;
}

.image-container-allanimal:hover {
  border: 2px solid #9866bd !important;
}

.z-index-3 {
  z-index: 3;
}

.border-radius-10 {
  border-radius: 20px;
}

::placeholder {
  text-align: center;
}

.container-shadow {
  box-shadow: 0 0 3px 3px rgb(0, 0, 0, 0.1);
}

.h-30 {
  min-height: 30vh;
}

.box-shadow {
  box-shadow: 0 0 3px 3px rgb(0, 0, 0, 0.1);
}

.box-shadows {
  box-shadow: 0 10px 19px 5px rgb(0, 0, 0, 0.1);
}

.w-90 {
  width: 90%;
}

.w-30 {
  width: 32%;
}

input {
  width: 50%;
  margin: auto;
  height: 5vh;
  border-radius: 5px;
  border: 10px solid white;
}

input:focus {
  border: 2px solid #9866bd !important;
  outline-offset: 0;
  outline: none;
}

.h-80 {
  min-height: 80vh;
  height: 100%;
}

.bg-main {
  background-color: #9866bd;
}

.h-20 {
  min-height: 15vh;
}

.border-filter {
  border: 2px solid #9866bd !important;
}

.border-filter-2 {
  border: 2px solid #d5b5ee !important;
}

.cat-button {
  background-color: red;
  border: 1px solid red;
}

.dog-button {
  background-color: #74c0fc;
  border: 1px solid #74c0fc;
}

.cat-button,
.dog-button {
  border-radius: 5px;
}

.filter-container {
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.height-1rem {
  min-height: 7vh;
}

.main-icon-container {
  border: 2px solid #838383 !important;
}

.fa-arrow-right {
  color: #74c0fc;
}

.fa-heart {
  color: pink;
}

.fa-arrows-rotate {
  color: #61df9a;
}

.fa-arrow-left {
  color: #feca67;
}

.search-icon-container {
  position: relative;
}

.fa-magnifying-glass {
  position: absolute;
  left: 7%;
  top: 15%;
  color: #838383;
}

.text-gray {
  color: #838383;
}

.btn-primary {
  background-color: #9866bd !important;
}

.btn-secondary {
  background-color: #d5b5ee !important;
}

.btn-white {
  background-color: white !important;
}

.text-main {
  color: #9866bd !important;
}

a {
  text-decoration: none !important;
  list-style-type: none;
  color: black;
}

.random-image-container {
  width: 90%;
  height: 50vh;
}

.home-image-container {
  height: 35vh;
}

.object-fit {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

a,
button,
i:hover {
  cursor: pointer;
}

hr {
  border: 1px solid #9866bd !important;
}

.icon-border {
  padding: 0.8rem;
  border-radius: 100%;
  box-shadow: 0 7px 5px 1px rgb(0, 0, 0, 0.1);
}

.icon-border:active {
  border: 2px solid #9866bd !important;
}

.border-bottom {
  border-bottom: 1px solid #838383;
}

.logo-container {
  width: 100%;
  height: 100px;
}

span {
  color: red;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #9866bd;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
