.h-100 {
  min-height: 90vh;
  height: 100%;
}

.image-container-allanimal {
  width: 100%;
  height: 200px;
  box-shadow: 0 0 3px 3px rgb(0, 0, 0, 0.1);
  transform: scale(1);
  transition: transform 0.5s;
}

.h-30 {
  min-height: 30vh;
}

.box-shadow {
  box-shadow: 0 0 3px 3px rgb(0, 0, 0, 0.1);
}

.image-container-allanimal:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.w-90 {
  width: 90%;
}

input {
  width: 50%;
  margin: auto;
  height: 5vh;
  border-radius: 5px;
  border: 10px solid white;
}

.bg-main {
  background-color: #7635f9;
}

.border-filter {
  border: 1.5px solid #7635f9 !important;
}

.main-icon-container {
  border: 1.5px solid #838383 !important;
}

.fa-arrow-right {
  color: #278ff8;
}

.fa-heart {
  color: red;
}

.fa-arrows-rotate {
  color: #61df9a;
}

.fa-arrow-left {
  color: #feca67;
}

.search-icon-container {
  position: relative;
}

.fa-magnifying-glass {
  position: absolute;
  left: 7%;
  top: 15%;
  color: #838383;
}

.btn-primary {
  background-color: white !important;
}

.text-main {
  color: #7635f9 !important;
}

a {
  text-decoration: none !important;
  list-style-type: none;
  color: black;
}

.random-image-container {
  width: 50%;
  min-height: 30vw;
}

.home-image-container {
  height: 35vh;
}

.object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a,
button,
i:hover {
  cursor: pointer;
}

hr {
  border: 1px solid #7635f9 !important;
}

.icon-border {
  border: 5px solid #f1f3f4;
  border-radius: 100%;
}

.logo-container {
  width: 100%;
  height: 50px;
}
